{% extends 'screenshower/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
      {% if project.published_date %}
            <div class="date">
                {{ project.published_date }}
            </div>
        {% endif %}
        <h2>
            {{ project.title }}
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'model_duplicate' pk=project.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
        </h2>
        <p>{{ project.text|linebreaksbr }}</p>
    <table>{{ form.as_table|crispy }}</table>
    <button type="submit">Sign in</button>
  </form>
{% endblock %}